@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
/* Added Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&family=Kings&family=Lavishly+Yours&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Special+Gothic&family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&family=Kings&family=Lavishly+Yours&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Special+Gothic&family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&family=Kings&family=Lavishly+Yours&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Special+Gothic&family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&family=Kings&family=Lavishly+Yours&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Special+Gothic&family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Spice&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kings&family=Lavishly+Yours&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Special+Gothic&family=UnifrakturMaguntia&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

/* My Work below this comment */

/* Style #1 */

.developerRLetter,
.skillsLLetter,
.gardeningGLetter,
.improveMLetter,
.wantedWLetter,
.didDLetter {
  font-size: 14px;
  font-weight: 400;
  color: #ef9a9a;
  text-decoration: overline;
  text-transform: lowercase;
  background-color: rgb(255, 245, 157);
  font-family: "Noto Sans", sans-serif;
}

/* Style #2 */

.skillsSTwoLetter,
.wantedELetter,
.becauseSLetter,
.didILetter {
  font-size: 18px;
  font-weight: bold;
  color: rgb(107, 101, 53);
  text-decoration: none;
  text-transform: capitalize;
  background-color: #a1887f;
  font-family: "Quicksand", sans-serif;
}

/* Style #3 */

.skillsLTwoLetter,
.improveELetter,
.developerETwoLetter,
.becauseBLetter,
.upULetter,
.didDTwoLetter {
  font-size: 23px;
  font-weight: 700;
  color: rgb(180, 95, 124);
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
}

/* Style #4 */

.improveVLetter,
.gardeningNTwoLetter,
.wantedDLetter,
.frontendDLetter,
.takeELetter,
.theTLetter {
  font-size: 13px;
  font-weight: normal;
  color: #ff8a65;
  text-decoration: underline;
  text-transform: none;
  font-family: "Lora", serif;
}

/* Style #5 */

.skillsILetter,
.wantedALetter,
.theyYLetter,
.becauseETwoLetter,
.toTLetter,
.gardeningNLetter,
.theHLetter {
  font-size: 27px;
  font-weight: 700;
  color: #8bc34a;
  text-transform: lowercase;
  text-decoration: none;
  background-color: #5d4037;
  font-family: "Montserrat", sans-serif;
}

/* Style #6 */

.theirTLetter,
.exclamation-mark,
.wantedNLetter,
.developerOLetter,
.question-mark,
.becauseCLetter,
.gardeningALetter,
.theELetter {
  font-size: 25px;
  font-weight: bold;
  color: #fff59d;
  text-transform: uppercase;
  text-decoration: overline;
  background-color: rgb(211, 47, 47);
  font-family: "Times New Roman", Times, serif;
}

/* Style #7 */

.rootRLetter,
.gardeningILetter,
.developerVLetter,
.developerLLetter,
.theirHLetter,
.takeKLetter,
.didDTwoLetter,
.frontendFLetter {
  font-size: 29px;
  font-weight: bold;
  color: rgb(73, 142, 151);
  text-transform: uppercase;
  text-decoration: line-through;
  background-color: rgb(187, 222, 251);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Style #8 */

.rootTLetter,
.improvePLetter,
.wantedTLetter,
.theyELetter,
.becauseULetter,
.developerPLetter,
.frontendRLetter {
  font-size: 32px;
  font-weight: 700;
  color: rgb(49, 27, 146);
  text-transform: lowercase;
  text-decoration: overline;
  background-color: #7e57c2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Style #9 */

.hyphen,
.developerEThreeLetter,
.rootOLetter,
.gardeningELetter,
.improveILetter,
.toOLetter,
.skillsKLetter,
.upPLetter,
.frontendOLetter {
  font-size: 45px;
  font-weight: 400;
  color: #d84315;
  text-transform: capitalize;
  text-decoration: underline;
  background-color: #b71c1c;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Style #10 */

.skillsSLetter,
.developerDLetter,
.gardeningDLetter,
.improveRLetter,
.takeALetter,
.theirELetter,
.frontendNLetter {
  font-size: 26px;
  font-weight: normal;
  color: rgb(0, 187, 55);
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffefe6;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* Google Font #4 */

.theirILetter,
.theyTLetter,
.gardeningGTwoLetter,
.developerELetter,
.frontendTLetter {
  font-size: 28px;
  font-weight: 700;
  color: #5d4037;
  text-transform: lowercase;
  text-decoration: none;
  background-color: #a1887f;
  font-family: "UnifrakturMaguntia", cursive;
}

/* Google Font #5 */

.theirRLetter,
.theyHLetter,
.improveOLetter,
.becauseALetter,
.takeTLetter,
.frontendELetter {
  font-size: 30px;
  font-weight: 400;
  color: #e92cff;
  text-transform: uppercase;
  text-decoration: overline;
  background-color: rgb(0, 26, 172);
  font-family: "Lavishly Yours", cursive;
}

/* Google Font #6 */

.rootOTwoLetter,
.gardeningRLetter,
.becauseELetter,
.frontendNTwoLetter {
  font-size: 31px;
  font-weight: bold;
  color: rgb(90, 106, 255);
  text-transform: capitalize;
  text-decoration: line-through;
  background-color: #a6ffff;
  font-family: "Kings", cursive;
}
